.content{
    width: 60%;
    margin: 60px auto;
}
th{
    text-align: left;
}
th, td{
    padding: 7px;
}


tr:first-child{
    background-color: #888888;
    color: #efefef;
}

tr:last-child td{
    background-color: #c0c0c0;
}


tr:nth-child(even) td{
    background-color:  #c0c0c0;
}
tr:nth-child(odd) td{
    background-color:  #efefef;
}


tr:nth-child(4) td:not(:nth-child(odd)),
tr:last-child td:not(:nth-child(odd)){
    background-color: #ffbbbb;
}
